.App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  background-image: url('/background.jpg');
  /* Path relative to the public folder */
  background-size: cover;
  /* Cover the entire area */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Prevent repeating */
  color: white;
  /* Adjust text color if needed */
}

.App-header {
  margin-bottom: 20px;
}

.App-logo {
  width: 300px;
  height: auto;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}

.top-left-image {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 60px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
  height: auto;
  /* margin: 50px; */
}

.footer {
  padding: 10px;
    display: flex;
  text-align: center;
    align-items: center;
      justify-content: center;
      gap: 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  /* Semi-transparent black */
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  /* Optional: Add a slight shadow */
}

section {
  margin: 20px 0;
}

.carousel .slide {
  height: 400px;
  display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    
  /* Match the height set in the component */
}

.carousel .slide img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  object-fit: cover;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}