/* .App {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
} */

/* section {
  margin: 20px 0;
} */